div.content {
	/* The display of content is enabled by a javascript generated style on the page.
	   This is so that the slideshow content won't display unless javascript is enabled. */
	display: none;
	float:left;
	width:588px; 
}
div.content a, div.navigation a {
	text-decoration: none;
	color: #666666;
}
div.content  a:focus, div.content  a:hover, div.content  a:active {
	/*text-decoration: underline;*/
	color:#F77104
}
div.controls {
	margin-top: 12px;
	height: 23px;
}
div.controls a {
	padding: 5px;
}
div.ss-controls {
	float: left;
}
div.nav-controls {
	float: right;
}

div.loader {
	background-image: url(../images/loader.gif);
	background-repeat: no-repeat;
	background-position: center;
	width: 550px;
	height: 350px
}
div.slideshow {
	clear: both;
}
div.slideshow span.image-wrapper {
	float: left;
	padding-bottom: 12px;
}
div.slideshow a.advance-link {
	padding: 2px;
	display: block;
	border: 1px solid #ccc;
}
div.slideshow img {
	border: none;
	display: block;
}
div.download {
	float: right;
	font-size:1.4em;
}
div.embox {
	clear: both;
	border: 1px solid #ccc;
	/*background-color: #eee;*/
	padding: 12px;
}
div.image-title {
	/*font-weight: bold;*/
	font-size: 1.4em;
}

div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}
div.navigation {
	width:250px;
	/* The navigation style is set by a javascript generated style on the page.
	   This is so that the javascript specific styles won't be applied unless javascript is enabled. */
}
ul.thumbs {
	clear: both;
	margin-left:20px;
	padding: 0;
}
ul.thumbs li {
	float: left;
	padding: 0;
	margin: 5px 10px 5px 0;
	list-style: none;
}
a.thumb {
	padding: 2px;
	display: block;
	border: 1px solid #ccc;
}
ul.thumbs li.selected a.thumb {
	background: #666666;
}
a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	display: block;
}
div.pagination {
	clear: both;
	margin-left:20px;
}
div.navigation div.top {
	margin-bottom: 12px;
	height: 11px;
}
div.navigation div.bottom {
	margin-top: 12px;
}
div.pagination a, div.pagination span.current {
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	font-size:15px;
	/*border: 1px solid #A0A0A0;*/
}
div.pagination a:hover {
	/*background-color: #eee;
	text-decoration: none;*/
	color:#F77104;
}
div.pagination span.current {
	/*font-weight: bold;
	background-color: #A0A0A0;
	border-color: #A0A0A0;*/
	color: #A0A0A0;
}