body {
  background:#F6F8EA;
  font-family:"Century Gothic";
  font-size:13px;
  color:#666666;
  line-height:22px;
  }
a:link {
  color:#666666;
  text-decoration:none;
  }
a:visited {
  color:#666666;
  text-decoration:none;
  }
a:hover, a:focus {
  color:#F77104;
  }
strong {
  font-weight: bold;
  }
.innerwrapper {
  padding: 10px 40px 20px;
  }
h1#logo {
  display: block;
  width: 260px;
  height: 107px;
  position: relative;
  z-index: 1;
  text-indent: -9999px;
  background: url(../images/logo.png) center center no-repeat;
  }
ul.menu {
  position: absolute;
  left:185px;
  top: 90px;
  z-index: 2;
  list-style-type:none;
  width:500px;
  text-align:right;
  font-size:15px;
  }
ul.menu li {
  float: left;
  margin-right: 5px;
  padding: 6px 9px 8px 24px;
  background: transparent url(../images/slash.png) left center no-repeat;
  color:#A0A0A0
  }
ul.menu li a#resume span {
  display: none;
  color:#A0A0A0;
  }
ul.menu li a#resume:hover span {
  display: inline;
  }
ul.menu li:first-child {
  background:none;
  }
#home {
  padding-top:35px;
  }
#bio {
padding-top:30px;
width:582px;
}
#bio p {
  float:right;
  width:335px;
  text-align:right;
  padding-right:25px;
  }
#bio a {
  border-bottom:1px dotted #A0A0A0;
  }
img.portrait {
  float:right;
  padding-top:6px;
  }
#portfolio {
  padding-top:15px;
  overflow:hidden;
  }
#contact {
  width:582px;
  }
dl.contact {
  float:right;
  margin-top:30px;
  text-align:right;
  }
dl.contact a {
  border-bottom:1px dotted #A0A0A0;
  }

/*Start of Sticky Footer*/
* {
  margin: 0;
  }
html, body {
  height: 100%;
  }
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -2em;
  }
.footer, .push {
  height: 2em;
  padding-left:40px;
  font-size:10px;
  color:#A0A0A0;
  }